<div class="card">
  <div class="card-image" ng-click="go()">
    <image-cropper image-url="{{image}}"
        width="{{width}}"
        height="{{height}}"
        show-controls="false"
        fit-on-init="false"
        center-on-init="true"
        api="getApiFunction"
        crop-callback="myCallbackFunction"
        check-cross-origin="false"
        zoom-step="0.1"
        action-labels="myButtonLabelsObject"
      ></image-cropper>
    <span class="card-title" style="background-color:rgba(0,0,0,0.7); width: 100%;">{{title}}</span>
  </div>
  <div class="card-content" ng-click="checkColors()">
    <p>{{description | limitTo : 34}} {{description.length>=34?'...':''}}</p>
  </div>
  <div class="card-action" ng-if="logged" style="border-top:0;padding: 0;display: flex; flex-wrap: nowrap;justify-content: space-between">
    <div class="rate like" style="flex-grow: 1" ng-click="like()">
      <i class="material-icons">thumb_up</i> {{}}
    </div>
    <div class="rate later" style="flex-grow: 1" ng-click="later()">
      <i class="material-icons">receipt</i>
    </div>
    <div class="rate dislike" style="flex-grow: 1" ng-click="dislike()">
      <i class="material-icons">thumb_down</i>
    </div>
  </div>
</div>
