<img class="responsive-img" src="//www.gravatar.com/avatar/{{ user.email | gravatar }}?s=300&d=mm"/>
<ul class="collection">
  <li class="collection-item avatar" ui-sref="movies">
    <i class="material-icons circle">movie</i>
    <span class="title">Movies</span>
    <p>Trending movies
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">input</i></a>
  </li>
  <li class="collection-item avatar" ui-sref="shows">
    <i class="material-icons circle">video_library</i>
    <span class="title">Shows</span>
    <p>Popular shows
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">input</i></a>
  </li>
  <li class="collection-item avatar" ui-sref="music">
    <i class="material-icons circle">library_music</i>
    <span class="title">Music</span>
    <p>Top songs
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">input</i></a>
  </li>
  <li class="collection-item avatar" ui-sref="books">
    <i class="material-icons circle">library_books</i>
    <span class="title">Books</span>
    <p>Best books
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">input</i></a>
  </li>
  <li class="collection-item avatar" ui-sref="places">
    <i class="material-icons circle">person_pin</i>
    <span class="title">Places</span>
    <p>Near and interesting places
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">input</i></a>
  </li>
  <li class="collection-item avatar" ui-sref="search">
    <i class="material-icons circle">search</i>
    <span class="title">Search</span>
    <p>Find what you want
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">input</i></a>
  </li>
</ul>

