$mainColor: #1BB088;
$background: #F4F4F4;

body{
    background-color: $background;
    .background{
        background-color: $mainColor !important;
    }
    #logo{
        font-family: 'Roboto' !important;
        font-style: normal;
        font-weight: 300;
    }
}

.flat{
    box-shadow: none;
}

.aspect-fully{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.aspect{
    position:relative;
    width: 100%;
    height: 0px;
}
.sixteen-nine{
    padding-bottom: 56%;
    padding-top: 50px;
}
.four-one{
    padding-bottom: 25%;
    padding-top: 50px;
}
.one-one{
    padding-bottom: 100%;
}
.twentyone-nine{
    padding-bottom: 42.857%;
    padding-top: 50px;
}

.bg-full {
    background-size: cover;
    background-repeat: no-repeat;
}

.sndr-align-children{
    display: flex;
    flex-wrap: wrap;
}

.margin-zero{
    margin: 0;
}


.grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out; 
    transition: all 0.6s ease-out; 
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;  
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0; 
    visibility: hidden;
}
 
.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}