$mainColor: #1BB088;
$background: #455a64;
body{
    background-color: $background;
    .background{
        background-color: $mainColor !important;
    }
    #logo{
        font-family: 'Roboto' !important;
        font-style: normal;
        font-weight: 300;
    }
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

.flat{
    box-shadow: none;
}

.aspect-fully{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.aspect{
    position:relative;
    width: 100%;
    height: 0px;
}
.aspect-16-9{
    padding-bottom: 56%;
    padding-top: 50px;
}
.aspect-4-1{
    padding-bottom: 25%;
    padding-top: 50px;
}
.aspect-1-1{
    padding-bottom: 100%;
}
.aspect-21-9{
    padding-bottom: 42.857%;
    padding-top: 50px;
}

.bg-full {
    background-size: cover;
    background-repeat: no-repeat;
}

.sndr-align-children{
    display: flex;
    flex-wrap: wrap;
}

.margin-zero{
    margin: 0;
}


.grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}

main {
    flex: 1 0 auto;
}

.intro
{
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
    margin-bottom: 50px;
}
.intro h1
{
    font-weight: 800;
    text-transform: uppercase;
}
.intro h5
{
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 1.2rem;
}
.about .col
{
    margin-bottom: 24px;
}
.about h5
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.about h6
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.about hr
{
    width: 40px;
    margin-bottom: 45px;
}
.about .card
{
    text-align: center;
}
.about .card img
{
    margin-bottom: 15px;
}
.activity .col
{
    margin-bottom: 24px;
}
.activity h5
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.activity h6
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.activity hr
{
    width: 40px;
    margin-bottom: 45px;
}
.activity .activity-holder
{
    clear: both;
    text-align: center;
}
.activity img
{
    width: 33%;
    display: inline-block;
    float: left;
}

@font-face {
    font-family: 'si';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon.woff') format('woff'),
         url('../fonts/socicon.ttf') format('truetype'),
         url('../fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../fonts/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
    text-align: center;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 84px;
    height: 84px;
    line-height: 84px;
    font-size: 46px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-right: 0px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}

.esearchbox-input{
    background-color: white !important;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    width: 100%;
    margin: 0 !important;
    padding: 0;
    padding-left: 10px !important;
}

.esearchbox-btn{
    margin: 0 !important;
    border: 0 !important;
    background-color: black !important;
    color: white !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.rate{
  text-align: center;
  padding: 0.5em 0;
  i{
    cursor: pointer; cursor: hand;
  }
}

main {
  position: relative;
  top: -20px;
}

body > main > div > div.container {
  margin-top: 20px;
}
