doctype html
html(ng-app="Sonder")
  head
    base(href='/')
    title= title

    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='') 

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
    link(href='//fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic')
    link(rel='stylesheet', href='/css/style.css')
    
    script(src="//cdn.jsdelivr.net/prefixfree/1.0.7/prefixfree.min.js", type="text/javascript")

  body
    div(ng-controller="MainCtrl")
      ul#dropdown1.dropdown-content
        li(ng-hide="Auth.isLoggedIn()")
          a(ui-sref='login') Login
        li(ng-hide="Auth.isLoggedIn()")
          a(ui-sref='signup') Sign up
        li(ng-show="Auth.isLoggedIn()")
          a(ui-sref="settings") Settings
        li(ng-show="Auth.isLoggedIn()")
          a(ui-sref="profile") Profile
        li(ng-show="Auth.isLoggedIn()")
          a(ng-click="logout()") Logout
        li.divider
        li(ng-show="Auth.isLoggedIn() && Auth.isAdmin()")
          a(ui-sref="admin") Admin

      nav.background.flat(role='navigation')
        .nav-wrapper.container
          a#logo.brand-logo.text-darken-2(ui-sref='main') Sonder
          ul.right.hide-on-med-and-down
            li
              a(ui-sref="movies")
                i.material-icons movie
            li
              a(ui-sref="shows")
                i.material-icons video_library
            li
              a(ui-sref="music")
                i.material-icons library_music
            li
              a(ui-sref="books")
                i.material-icons library_books
            li
              a(ui-sref="places")
                i.material-icons person_pin
            li
              a.dropdown-button(href='#!', data-activates='dropdown1')
                i.material-icons more_vert

    div
      block content

    script(src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
    script.
      $(".dropdown-button").dropdown();