doctype html
html(ng-app="Sonder")
  head
    base(href='/')
    title= title

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
    link(href='//fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic')
    link(href='//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css')
    link(rel='stylesheet', href='/css/style.css')

    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='') 

  body
    ul#dropdown1.dropdown-content
      if(!user)
        li
          a(href='/signin') Sign in
        li
          a(href='/signup') Sign up
      if(user)
        li
          a(href="/signout") Logout
      li.divider
      li
        a(href='/about') About

    nav.background.flat(role='navigation')
      //- .nav-wrapper.container
      //-   form
      //-     .input-field
      //-       input#search(type='search', required='', placeholder="Not Working Yet")
      //-       label(for='search')
      //-         i.material-icons search
      //-       i.material-icons close
      .nav-wrapper.container
        a#logo.brand-logo.text-darken-2(href='/') Sonder
        ul.right.hide-on-med-and-down
          li
            a
              i.material-icons search
          //li
          //  a(href='/explore')
          //    i.material-icons view_module
          if(user)
            li
              a(href="/user/#{user.username}")
                i.material-icons person_pin
          li
            a(ui-sref="login")
              i.material-icons open_in_browser
          li
            a.dropdown-button(href='#!', data-activates='dropdown1')
              i.material-icons more_vert

    div
        block content


    script.
      //$(".dropdown-button").dropdown();