doctype html
html(ng-app="Sonder")
  head
    base(href='/')
    title= title
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    link(rel='stylesheet', href='/css/materialize.min.css')
    link(rel='stylesheet', href='/css/MaterialIcons-Regular.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/ng-nlFramework.css')
    script(type="text/javascript", src="/js/prefixfree.min.js")
  body
    #nlDrawer(ui-view="side")
      sidenav
    div(ng-controller="MainCtrl")
      ul#dropdown1.dropdown-content
        li(ng-hide="Auth.isLoggedIn()")
          a(ui-sref='login') Login
        li(ng-hide="Auth.isLoggedIn()")
          a(ui-sref='signup') Sign up
        li(ng-show="Auth.isLoggedIn()")
          a(ui-sref="settings") Settings
        li(ng-show="Auth.isLoggedIn()")
          a(ui-sref="profile") Profile
        li(ng-show="Auth.isLoggedIn()")
          a(ng-click="logout()") Logout
        li.divider
        li(ng-show="Auth.isLoggedIn() && Auth.isAdmin()")
          a(ui-sref="admin") Admin
      nav.background.flat.blue-grey.darken-4(role='navigation')
        .nav-wrapper.container
          a#logo.brand-logo.text-darken-2(ui-sref='main') Sonder
          ul.right.hide-on-med-and-down
            li
              a(ui-sref="movies")
                i.material-icons movie
            li
              a(ui-sref="shows")
                i.material-icons video_library
            li
              a(ui-sref="music")
                i.material-icons library_music
            li
              a(ui-sref="books")
                i.material-icons library_books
            li
              a(ui-sref="places")
                i.material-icons person_pin
            li
              a(ui-sref="search")
                i.material-icons search
            li
              a.dropdown-button(href='#!', data-activates='dropdown1')
                i.material-icons more_vert
          ul#slide-out.side-nav
            li
              a(ui-sref="search")
                |Search
            li
              a(ui-sref="movies")
                |Movies
            li
              a(ui-sref="shows")
                |Shows
            li
              a(ui-sref="music")
                |Music
            li
              a(ui-sref="books")
                |Books
            li
              a(ui-sref="places")
                |Places
            li(ng-hide="Auth.isLoggedIn()")
              a(ui-sref='login') Login
            li(ng-hide="Auth.isLoggedIn()")
              a(ui-sref='signup') Sign up
            li(ng-show="Auth.isLoggedIn()")
              a(ui-sref="settings") Settings
            li(ng-show="Auth.isLoggedIn()")
              a(ui-sref="profile") Profile
            li(ng-show="Auth.isLoggedIn()")
              a(ng-click="logout()") Logout
            li.divider
            li(ng-show="Auth.isLoggedIn() && Auth.isAdmin()")
              a(ui-sref="admin") Admin
          a.button-collapse(href='#', data-activates='slide-out')
            i.mdi-navigation-menu
    main
      block content

    footer.page-footer.blue-grey.darken-4(ng-controller="MainCtrl")
      .container
        .row
          .col.l9.m8.s12
            h5.white-text Sonder
            p.grey-text.text-lighten-4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur saepe fuga iste facilis nihil minus fugiat magnam deserunt aliquam velit exercitationem, quo harum? Consectetur ducimus, illum sequi tenetur voluptas aperiam.
          .col.l3.m4.s12
            h5.white-text Special Thanks
            .div(style="display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-around")
              img(src="/images/trakt-logo.png", alt="Trakt", height="48", width="48")
              img(src="/images/lastfm-logo.png", alt="Last.fm", height="48", width="48")
              img(src="/images/openlibrary-logo.png", alt="Open Library", height="48", width="48")
              img(src="/images/foursquare-logo.png", alt="Foursquare", height="40", width="40")

      .footer-copyright
        .container
          |© {{date.getFullYear()}} Ampere Team
          a.grey-text.text-lighten-4.right(href='#!') More Links

    script(src="/js/jquery-2.2.3.min.js")
    script(src="/js/hammer.js")
    script(src="/js/lodash.min.js")
    script(src="/js/angular.min.js")
    script(src="/js/angular-resource.min.js")
    script(src="/js/angular-cookies.min.js")
    script(src="/js/angular-messages.min.js")
    script(src="/js/angular-sanitize.min.js")
    script(src="/js/angular-animate.min.js")
    script(src="/js/angular-aria.min.js")
    script(src="/js/angular-socket-io/socket.js")
    script(src="/js/angular-ui-router.min.js")
    script(src="/js/socket.io.min.js")
    script(src="/js/angular-image-cropper.js")
    script(src="/js/ng-nlFramework-min.js")
    script(src="/js/angular-md5.js")
    script(src="/js/app.js")
    script(src="/js/materialize.min.js")
    script.
      $(".dropdown-button").dropdown();
      $(document).ready(function(){
        $('.materialboxed').materialbox();
        $(".button-collapse").sideNav();
      });
