<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
<div id="login-page" class="row">
    <div class="col s12  card-panel">
      <form class="login-form" name="form" ng-submit="login(form)" novalidate="" >
        <div class="row">
          <div class="input-field col s12 center">
            <p class="center login-form-text">
              <h2 class="body-content">Login</h2>
            </p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="email" type="text" ng-model="user.email" class="form-control">
            <label for="email" class="center-align">Email</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password"  name="password" ng-model="user.password" class="form-control">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">          
          <div class="input-field col s12 m12 l12  login-text">
              <input type="checkbox" id="remember-me" />
              <label for="remember-me">Remember me</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <a href="#" class="btn waves-effect waves-light col s12">Login</a>
          </div>
        </div>
        <center>
        <div class="row">
          <a href="" ng-click="loginOauth(&quot;facebook&quot;)" class="btn btn-facebook">
            <i class="fa fa-facebook"></i> 
              Connect with Facebook
          </a>
          <a href="" ng-click="loginOauth(&quot;google&quot;)" class="btn btn-google-plus">
            <i class="fa fa-google-plus"></i> 
              Connect with Google+
          </a>
          <a href="" ng-click="loginOauth(&quot;twitter&quot;)" class="btn btn-twitter">
            <i class="fa fa-twitter"></i>
             Connect with Twitter
          </a>
        </div>
        </center>
      </form>
    </div>
  </div>
</div>