<div ng-include="templates/shell.html"></div>
<span>
  <strong>Elementos {{awesomeThings.length}}</strong>
</span>
<div class="container">
  <div class="row">
    <div class="col s6 m4 l3" ng-repeat="thing in awesomeThings">    
      <div class="card">
        <div class="card-image">
          <img src="//placehold.it/400x300/000000/ff033e">
          <span class="card-title">{{thing.name}}</span>
        </div>
        <div class="card-content">
          <p>-algo- {{thing._id}}</p>
        </div>
        <div class="card-action">
          <a href="#" ng-click="deleteThing(thing)">
            <i class="material-icons left">delete</i>
            Eliminar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
