<parallax-img p-img="{{place.photos.groups[0].items[0].prefix}}width1200{{place.photos.groups[0].items[0].suffix}}"/>
<div class="container" style="position: relative; top:-250px">
  <h1 class="white-text" style="text-shadow: 2px 5px 4px rgba(0,0,0,0.5), -2px 5px 4px rgba(0,0,0,0.5);">
    {{place.name}}
  </h1>
  <div class="row">
    <div class="col s12">
      <div class="card white">
        <div class="card-content">
          <div class="card-title" style="border-bottom: rgba(0,0,0,0.1) solid 1px;margin-bottom: 15px;text-align: center;font-style: italic;">
            {{place.tagline}}
          </div>
          <div class="row">
            <div class="col s12 m4 l3">
              <img class="responsive-img"
                 ng-src="{{place.photos.groups[0].items[1].prefix}}width600{{place.photos.groups[0].items[1].suffix}}"/>
            </div>
            <div class="col s12 m8 l9">
              <table class="striped">
                <thead>
                  <tr>
                      <th data-field="id">Item</th>
                      <th data-field="name">Detail</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Address</td>
                    <td>{{place.location.address}}</td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td>{{place.location.lng}} , {{place.location.lat}}</td>
                  </tr>
                  <tr>
                    <td>Place</td>
                    <td>{{place.location.country}}</td>
                  </tr>
                  <tr>
                    <td>State</td>
                    <td>{{place.location.state}}</td>
                  </tr>
                  <tr>
                    <td>City</td>
                    <td>{{place.location.city}}</td>
                  </tr>
                  <tr>
                    <td>Categories</td>
                    <td>
                      <div class="chip" ng-repeat="cat in place.categories">
                        {{cat.name}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Rating</td>
                    <td>{{place.rating}}</td>
                  </tr>
                </tbody>
              </table>
              <p class="flow-text">
                <br>
                <strong>Overview</strong>
                <br>
                {{place.overview}}
              </p>
            </div>
          </div>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>
