<div class="intro blue-grey darken-1 z-depth-1">
    <h1 class="grey-text text-lighten-5">{{user.name}}</h1>
    <h5 clas="grey lighten-4 grey-text text-darken-1">@{{user.username}}</h5>
</div>
<div class="container about">
    <h5>about me</h5>
    <h6>let me introduce my self</h6>
    <hr>
    <div class="row">
        <div class="col s12 m4 l4">
            <h6>Story</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col s12 m4 l4">
            <h6>Profile</h6>
            <div class="card brown darken-1">
                <div class="card-content white-text">
                    <img src="https://cdn1.iconfinder.com/data/icons/social-messaging-productivity-1/128/profile2-64.png" width="64" height="64">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
                <div class="card-action">
                    <a href="#">Link</a>
                    <a href='#'>Link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <h6>Jon's to Do list</h6>
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header"><i class="material-icons">location_on</i>Places</div>
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">library_books</i>Books</div>
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">queue_music</i>Music</div>
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">theaters</i>Movies</div>
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container activity">
    <h5>My Activity</h5>
    <h6>RECENTLY DONE</h6>
    <hr>
    <div class="row">
        <div class="col s12 m12 l12 activity-holder">
            <img class="materialboxed" src="http://placehold.it/428x285?text=watched+Daredevil">
            <img class="materialboxed" src="http://placehold.it/428x285?text=climbed+El+Peñol">
            <img class="materialboxed" src="http://placehold.it/428x285?text=listened+to+Muse">
            <img class="materialboxed" src="http://placehold.it/428x285?text=checkin+at+Bigos">
            <img class="materialboxed" src="http://placehold.it/428x285?text=add+E.T.+to+Watchlist">
            <img class="materialboxed" src="http://placehold.it/428x285?text=read+Skudmart">
        </div>
    </div>
</div>
