<div class="container">
  <div class="card-panel">
    <div class="row">
      <div class="col-sm-12">
        <h1>Change Password</h1>
      </div>
      <div class="col-sm-12">
        <form name="form" ng-submit="changePassword()" class="form">
          <div class="form-group">
            <label>Current Password</label>
            <input type="password" name="password" ng-model="user.oldPassword" mongoose-error="" class="form-control"/>
          </div>
          <div class="form-group">
            <label>New Password</label>
            <input type="password" name="newPassword" ng-model="user.newPassword" class="form-control"/>
          </div>
          <input type="submit" class="btn btn-lg btn-primary" value="Save changes"/>
        </form>
      </div>
    </div>
  </div>
</div>
