<parallax-img p-img="{{show.images.fanart.full}}"/>
<div class="container" style="position: relative; top:-250px">
  <h1 class="white-text" style="text-shadow: 2px 5px 4px rgba(0,0,0,0.5), -2px 5px 4px rgba(0,0,0,0.5);">
    {{show.title}} <small>: {{show.year}}</small>
  </h1>
  <div class="row">
    <div class="col s12">
      <div class="card white">
        <div class="card-content">
          <div class="card-title" style="border-bottom: rgba(0,0,0,0.1) solid 1px;margin-bottom: 15px;text-align: center;font-style: italic;">
            {{show.tagline}}
          </div>
          <div class="row">
            <div class="col s12 m4 l3">
              <img class="responsive-img" ng-src="{{show.images.poster.medium}}"></img>
            </div>
            <div class="col s12 m8 l9">
              <table class="striped">
                <thead>
                  <tr>
                      <th data-field="id">Item</th>
                      <th data-field="name">Detail</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Network</td>
                    <td>{{show.network}}</td>
                  </tr>
                  <tr>
                    <td>First Aired</td>
                    <td>{{show.first_aired | date : "fullDate"}}</td>
                  </tr>
                  <tr>
                    <td>Runtime</td>
                    <td>{{show.runtime}} mins</td>
                  </tr>
                  <tr>
                    <td>Rating</td>
                    <td>{{show.rating}}</td>
                  </tr>
                  <tr>
                    <td>Genres</td>
                    <td>
                      <div class="chip" ng-repeat="genre in show.genres">
                        {{genre}}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p class="flow-text">
                <br>
                <strong>Overview</strong>
                <br>
                {{show.overview}}
              </p>
            </div>
          </div>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>