<div ng-show="waiting">
  <div class="progress margin-zero">
      <div class="indeterminate"></div>
  </div>  
</div>
<div class="container">
  <div class="row sndr-align-children">
    <div class="col s6 m4 l3" ng-repeat="show in shows">
      <div class="card">
        <div class="card-image">
          <img ng-src='{{show.images.poster.thumb}}'>
          <span class="card-title" style="background-color:rgba(0,0,0,0.5);">{{show.title}}</span>
        </div>
        <div class="card-content">
          <p>Released in {{show.year}}</p>
        </div>
        <div class="card-action">
          <a ui-sref="show({traktSlug: show.ids.slug})">See more</a>
        </div>
      </div>
    </div>
  </div>      
</div>